@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Open+Sans&display=swap');

*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#navContainer {
    background-color: grey;
    margin: 0;
    padding: 10px 0 10px 0;
}

/* navBar */

#navBar {
    display: flex;
    justify-content: space-around;
}

.navbarItem {
    color: white;
}

.navbarItem:hover {
    color: red;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* footer */

#footer {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: grey;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.footerIcons {
    width: 30px;
    height: auto;
    margin: 5px;
}

/* main roster container */

#rosterContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}
#forwardLines {
    display: flex;
    justify-content: center;
}

#defensePairs {
    display: flex;
    justify-content: center;
}

#goalieTandem {
    display: flex;
    justify-content: center;
}

.yearToggleButton {
    width: 100%;
    border: none; 
}